<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Todo詳細</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <h1 class="title">Todo詳細</h1>
    <ul th:each="err:${errList}">
        <li th:text="${err}" style="color: red;"></li>
    </ul>

    <form id="editForm" th:action="@{'/todo/' + ${todo.id}}" method="post">
        <table class="table">

            <tr>
                <th class="th">カテゴリ</th>
                <td class="td">
                    <select name="style">
                        <option value="0">---</option>
                        <option value="1" th:selected="${todo.style == '1'}">仕事</option>
                        <option value="2" th:selected="${todo.style == '2'}">プライベート</option>
                        <option value="3" th:selected="${todo.style == '3'}">その他</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th class="th">内容</th>
                <td class="td"><textarea rows="6" cols="12" name="name" th:text="${todo.name}"></textarea></td>
            </tr>

        </table><br>
    </form>

    <form id="deleteForm" th:action="@{'/todo/' + ${todo.id} + '/delete'}" method="post"
        onsubmit="return confirm('このTodoを削除します。よろしいですか？')">
    </form>
    
    <div class="button-config">
        <button type="submit" form="editForm" class="btn-base btn-edit">更新</button>
        <button type="submit" form="deleteForm" class="btn-base btn-delete">削除</button>
    </div>


    <br>
    <a href="/todo" class="btn-back">一覧へ戻る</a>

</body>

</html>